$breakpoint-mobile:        600px;
$breakpoint-tablet:        920px;
$breakpoint-small-desktop: 1200px;
$breakpoint-large-desktop: 1600px;
$background:               #F8F8FA;
$very-light-blue:          #E6E6EB;
$blue:                     #00A8FF;
$dark-blue:                #39ADFF;
$white:                    #ffffff;
$darkgrey:                 #252729;
$lightgrey:                #F1F1F2;
$black:                    #111111;
$red:                      #F54040;
$green:                    #7ED321;

$blue-gradient:             linear-gradient(to right, $blue, darken($dark-blue, 25%) 70%);
$dark-blue-gradient:        linear-gradient(-180deg, #2C2F3E 0%, #484C60 100%);
$enterprise-gradient:       linear-gradient(to right, darken($lightgrey, 45%), darken($darkgrey, 25%) 70%);