@import "./_variables.scss";

.flip-enter-active, .flip-leave-active {
  transition: transform .1s linear;
}
.flip-enter, .flip-leave-to {
  transform:rotateY(90deg)
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 66.5%;
  box-sizing: border-box;
  @media (max-width:$breakpoint-tablet){
    font-size: 66%;
  }
}

body {
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.2s ease-in-out;
  overflow-x: hidden;
  padding-bottom:8rem;
}

#app {
  transition: background 0.44s ease-in-out;
}

.mobile-only {
  display:none;
}
.desktop-only {
  display:block;
}

@media(max-width:$breakpoint-tablet){
  .mobile-only {
    display:block;
  }
  .desktop-only {
    display:none;
  }
}


/* Typography */

a {
  color: $blue;
  transition: 0.08s linear;
  transition-property: color, transform;

  &:hover {
    color: darken($blue, 10%);
  }
}

p {
  margin: 0 0 2rem 0;
  line-height: 1.4em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  color:$blue;
}

h1 {
  font-size:$font-size-huge;
  line-height:calc(#{$font-size-huge} * 1.1);
  margin-bottom:calc(#{$font-size-huge} * 0.25);

  @media(max-width:$breakpoint-mobile){
    margin-top:0;
    font-size:calc(#{$font-size-huge} * 0.7);
    line-height:calc(#{$font-size-huge} * 0.8);
    margin-bottom:calc(#{$font-size-huge} * 0.25);
  }
}

.body-text h1 {
  margin-top:0rem;
}

h2 {
  font-size:$font-size-large;
  line-height:calc(#{$font-size-large} * 1.2);
  margin-bottom:$font-size-large;
  color:$blue;
}

.body-text h2 {
  margin-top:2rem;
}

h3 {
  font-size:$font-size-big;
  line-height:calc(#{$font-size-medium} * 2);
  margin-bottom:1.953rem;
  color:$blue;
}

.body-text h3 {
  margin-top:1.953rem;
  text-align:left;
}

h4 {
  font-size:$font-size-standard;
  line-height:calc(#{$font-size-standard} * 2);
  margin-bottom:calc(#{$font-size-standard} * 2);
}

.body-text h4 {
  margin-top:2rem;
  text-align:left;
}

h5 {
  font-size:$font-size-small;
  line-height:calc(#{$font-size-small} * 2);
  margin-bottom:calc(#{$font-size-small} * 2);
  color:$black;

}

.body-text h5 {
  margin-top:6rem;
}

.align-left {
  text-align: left !important;
}

.centered {
  text-align: center !important;
}

.highlight {
  background:$blue;
  color:white;
  padding:3px 6px;
  border-radius:2px;
}

.separator {
    background-image:$blue-gradient;
    overflow:auto;
    text-align: left;
    padding: 3rem 9rem;

    h3 {
      background:initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color:initial;
      color:white;

      @media(max-width:$breakpoint-small-desktop){
        text-align: center;
      }
    }

    h4 {
      background:initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color:initial;
      color:white;
    }

    p {
      color:white !important;
    }

    @media(max-width:$breakpoint-small-desktop){
      text-align: center;
      padding: 3rem 3rem 6rem;
      margin: 6rem 0rem;

      .col-2,
      .col-4 {
        width:100%;
      }

      .col-4 {
        padding-top:6rem;
      }
    }

    @media(max-width:$breakpoint-tablet){
        padding: 3rem 3rem 6rem;
        margin: 3rem 0rem;
    }

    @media(max-width:$breakpoint-mobile){
        padding: 3rem 3rem 6rem;
        margin: 0rem;
    }
  }

/* Elements */

.button + .button {
  margin-left:8px;

  @media(max-width:$breakpoint-mobile){
    margin-left:0px;
  }
}

.button {
  display: inline-block;
  padding: 20px 40px;
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 3px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  font-size:$font-size-standard;
  box-shadow: 0 10px 44px 0 rgba(7,153,255,0.39);
  transition:background-color 0.12s ease-in-out;

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    margin:1rem 0;
    text-align: center;
  }

  &.button-text {
    background: transparent !important;
    box-shadow: none !important;
    padding-right:1rem;
    position:relative;
  }

  &.button-small {
    padding: .34rem .6rem !important;
    font-size:1rem;
  }

  &.button-white,
  &.button-default {
    color: $blue;
    background-color:darken($white, 5%);
    border-color: $white;
    box-shadow:none;

    &:hover {
      color:darken($blue, 5%);
      border-color: darken($white, 8%);
      background-color:darken($white, 8%);
    }
  }

  &:hover {
    color:white;
    background-color:darken($blue, 5%);
  }
}

input {
  outline:0;
}

/* Layout */

.full-width {
  max-width:1020px;
  margin:0 auto;
  display: flex;
  flex-direction:row;
  align-items:center;

  @media (max-width: $breakpoint-tablet) {
    flex-direction:column;
  }
}

.half-width {
  width:45%;
  margin:0 2.55%;

  @media (max-width: $breakpoint-tablet) {
    width:80%;
    margin: 0rem 10%;
  }

}

.standard-padding {
  padding:$standard-padding 0 0;

  @media (max-width: $single-column) {
    padding:4rem 0;
  }

}

.container {
  margin:0 auto;
}

.row {
  clear:both;
  display: block;
  overflow:visible;
  margin:4rem auto;

  @media (max-width: $breakpoint-tablet) {
    margin:0rem auto;
  }

  &.centered-vertically {
    display:flex;
    @media (max-width: $breakpoint-tablet) {
      display: block;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }
}

.flex-row {
  display:flex;
  align-items:center;
  margin:12rem auto;
  max-width: 1080px;

  &.thirds {
    align-items:flex-start;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;    
      margin-bottom:4rem;
    }

    img {
      width:100%;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 4rem 0;
    margin:0rem;
  }

  .half {
    width:50%;

    @media (max-width: $breakpoint-tablet) {
      width:100%;
    }

    &.with-image {
      @media (max-width: $breakpoint-tablet) {
        display:none;
      }
    }

    img {

      @media (max-width: $breakpoint-tablet) {
        display:none;
      }

      width:80%;
      margin:0 10%;
    }
  }

  .third {
    width:33.3333%;
    display:flex;
    flex-direction:column;
    padding-right:4rem;

    @media (max-width: $breakpoint-tablet) {
      width:100%;
      padding-right:0;
      margin-bottom:4rem;
    }

    h3 {
      margin-top:0;
    }
  }
}

img {
  height: auto;
  margin:0 auto;
}

.centered-vertically {
  align-items:center;
}

.white {
  color:white;
}

.row ul {
  margin-left: 2rem;
  margin-bottom:3rem;
}

.single-column {
  width:720px;
  margin:0 auto;

  svg {
    width:100%;
  }

  img {
    width:100%;
  }

  @media (max-width: $breakpoint-tablet) {
    width:90%;
    padding:4rem 0;
  }

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    padding:0;
  }
}

.col-1 {
  padding:0 2rem;
  width:16.6666666667%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-quarter {
  padding:0 2rem;
  width:25%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    padding:2rem 0;
  }
}

.col-2 {
  padding:0 2rem;
  width:33.3333333334%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:50%;
    padding:4rem 0;
  }

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    padding:4rem 0;
  }
}

.col-3 {
  padding:0 2rem;
  width:50%;
  float:left;
  position:relative;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-4 {
  padding:0 2rem;
  width:66.666666667%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-5 {
  padding:0 2rem;
  width:83.3333333334%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-6 {
  padding:0 2rem;
  width:100%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-80 {
  padding:0 2rem;
  width:80%;
  float:left;

  @media (max-width: $breakpoint-small-desktop) {
    width:70%;
    padding:0rem 2rem;
  }

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:0rem 0;
  }
}

.col-20 {
  padding:0 2rem;
  width:20%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:30%;
    padding:4rem 0;
  }

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    padding:4rem 0;
  }
}

/* special box classes */

.blue-bottom {
  padding:6rem 0 12rem 0;

  @media (max-width: $breakpoint-tablet) {
    padding:3rem 0 6rem 0;
  }
}

.gray-box {
  background-color:$background;
  border-radius:20px;
  padding:12rem;

  @media (max-width: $breakpoint-tablet) {
    padding:6rem !important;
  }
}

.blue-top {
  padding:12rem 0;

  @media (max-width: $breakpoint-tablet) {
    padding:6rem 0;
  }
}

/* padding */

.padded {
  padding:4rem 0;
  @media (max-width: $breakpoint-tablet) {
    padding:3rem 0;
  }

  &.padded-large {
    padding:6rem 0;
  }

  &.padded-huge {
    padding:12rem 0;
    @media (max-width: $breakpoint-tablet) {
      padding:6rem 0;
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    margin-left:-10%;
  }

  85% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    margin-left:0%;
  }
}

form {
  text-align: left;
  font-size: 1.8rem;

  .field {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
  }

  input:not([type=submit]),
  textarea {
    width: 100%;
    padding: 1rem;
    color: #04092E;
    border: 1px solid #04092E;
    outline: 0;
  }

  textarea {
    height: 12rem;
  }
}

footer {
  padding: 2rem;

  img {
    max-width: 10rem;
  }
}

section {

  &#partner-logos {
    text-align:center;
  }

  &#why-users {
    border-bottom:1px solid $lightgrey;

    h2 {
      text-align:center;
    }
  }

  &#why-devs {
    h2 {
      text-align:center;
    }
  }

  &.body {
    overflow:hidden;

    .row {
      margin:3rem auto 6rem;
      max-width:1080px;

      @media (max-width: $breakpoint-small-desktop) {
        max-width:920px;
      }

      @media (max-width: $breakpoint-tablet) {
        max-width:90%;
      }

      p, li {
        color:$darkgrey;
        margin-bottom:3rem;
        line-height: 2.4rem;
      }
    }

    padding:4rem 9rem;

    @media (max-width: $breakpoint-small-desktop) {
      padding:3rem 2rem;
    }

    @media (max-width: $breakpoint-tablet) {
      padding:1.5rem;
    }

    .secondary-buttons {
      padding:2em 0;
      overflow:auto;
      clear:both;
    }
  }

  &.dimmed {
    background-color:$white;
    border-top: 1px solid rgba(0,0,0,0.12);
    border-top: 1px solid rgba(0,0,0,0.12);
  }
}

.dimmed {
  opacity: 0.6;
  font-size:75%;
}

#get-started .col-3,
#get-started .col-6 {
  text-align:center;
}

#future_is_now {
  margin-top:6rem;
}

.code-block {
  &.no-bottom {
    border:0 !important;
    padding-bottom:0 !important;
    margin-bottom:0 !important;
  }
}

.api-links {
  .link {
    display:table;
  }
}

.package-name {
  padding:.4rem .8rem;
  background-color:$background;
  color:$blue;
  border-radius:2px;
}

.scrollme {
  text-align:center;
  margin:9rem 0;

  #wheel {
    background-color: white;
    animation: mousewheel 0.6s infinite;
  }
}

@keyframes mousewheel {
  0% {
    background-color: white;
  }

  50% {
    background-color: $blue;
  }
  100% {
    background-color: white;
  }
}
