@import "./_variables.scss";

.flip-enter-active, .flip-leave-active {
  transition: transform .1s linear;
}
.flip-enter, .flip-leave-to {
  transform:rotateY(90deg)
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 66.5%;
  box-sizing: border-box;
  @media (max-width:$breakpoint-tablet){
    font-size: 66%;
  }
}

body {
  font-size: 1.6rem;
  background-color:$background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background 0.2s ease-in-out;
  overflow-x: hidden;
}

#app {
  transition: background 0.44s ease-in-out;
}

.mobile-only {
  display:none;
}
.desktop-only {
  display:block;
}

@media(max-width:$breakpoint-tablet){
  .mobile-only {
    display:block;
  }
  .desktop-only {
    display:none;
  }
}


/* Typography */

a {
  color: $dark-blue;
  transition: 0.08s linear;
  transition-property: color, transform;

  &:hover {
    color: darken($dark-blue, 20%);
  }
}

p {
  margin: 0 0 2rem 0;
  line-height: 1.4em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  color:$blue;
}

h1 {
  font-size:4.052rem;
  line-height:4.252rem;
  margin-bottom:2rem;
  background: $blue-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media(max-width:$breakpoint-mobile){
    margin-top:0;
  }
}

.body-text h1 {
  margin-top:0rem;
}

h2 {
  font-size:3.441rem;
  line-height:4.341rem;
  margin-bottom:2rem;
  background: $blue-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &.enterprise {
    background: $enterprise-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}

.body-text h2 {
  margin-top:2rem;
}

h3 {
  font-size:2.153rem;
  line-height:2.853rem;
  margin-bottom:1.953rem;
  background: $blue-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.body-text h3 {
  margin-top:1.953rem;
  text-align:left;
}

h4 {
  font-size:1.763rem;
  margin-bottom:1.763em;
  line-height:1.963rem;

}

.body-text h4 {
  margin-top:2rem;
  text-align:left;
}

h5 {
  font-size:1.25rem;
  margin-bottom:1.25rem;
  line-height:1.25rem;
  font-weight:700;
  color:$black;

}

.body-text h5 {
  margin-top:6rem;
}

.align-left {
  text-align: left !important;
}

.centered {
  text-align: center !important;
}

.highlight {
  background:$blue;
  color:white;
  padding:3px 6px;
  border-radius:2px;
}

.separator {
    background-image:$blue-gradient;
    overflow:auto;
    text-align: left;
    padding: 3rem 9rem;

    h3 {
      background:initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color:initial;
      color:white;

      @media(max-width:$breakpoint-small-desktop){
        text-align: center;
      }
    }

    h4 {
      background:initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color:initial;
      color:white;
    }

    p {
      color:white !important;
    }

    @media(max-width:$breakpoint-small-desktop){
      text-align: center;
      padding: 3rem 3rem 6rem;
      margin: 6rem 0rem;

      .col-2,
      .col-4 {
        width:100%;
      }

      .col-4 {
        padding-top:6rem;
      }
    }

    @media(max-width:$breakpoint-tablet){
        padding: 3rem 3rem 6rem;
        margin: 3rem 0rem;
    }

    @media(max-width:$breakpoint-mobile){
        padding: 3rem 3rem 6rem;
        margin: 0rem;
    }
  }

/* Elements */

.button + .button {
  margin-left:8px;

  @media(max-width:$breakpoint-mobile){
    margin-left:0px;
  }
}

.button {
  display: inline-block;
  padding: 1.4rem 2rem;
  background: none;
  border: 1px solid $blue;
  border-radius: 5px;
  color: $black;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  font-size:.8em;

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    margin:1rem 0;
    text-align: center;
  }

  @media(max-width:$breakpoint-tablet){
    padding: 1.5rem 2rem !important;
  }

  &.button-text {
    background: transparent !important;
    box-shadow: none !important;
    padding-right:1rem;
    position:relative;
  }

  &.button-large {
    padding: 2rem 3.8rem !important;
    font-size:2rem;
  }

  &.button-small {
    padding: .6rem .8rem !important;
    font-size:1.2rem;
  }

  &.button-white {
    border: 1px solid white;
    color: $blue;
    background: white;
  }

  &.button-primary {
    background-color: $blue !important;
    color: $white !important;
    &:hover {

    }
  }

  &:hover {
    opacity:0.9;
  }
}

input {
  outline:0;
}

/* Layout */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
}

.row {
  clear:both;
  display: block;
  overflow:hidden;
  margin:4rem auto;

  @media (max-width: $breakpoint-tablet) {
    margin:0rem auto;
  }

  &.centered-vertically {
    display:flex;
    @media (max-width: $breakpoint-tablet) {
      display: block;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }
}

img {
  height: auto;
  margin:0 auto;
}

.centered-vertically {
  align-items:center;
}

.white {
  color:white;
}

.row ul {
  margin-left: 2rem;
  margin-bottom:3rem;
}

.single-column {
  width:720px;
  margin:0 auto;

  svg {
    width:100%;
  }

  img {
    width:100%;
  }

  @media (max-width: $breakpoint-tablet) {
    width:90%;
    padding:4rem 0;
  }

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    padding:0;
  }
}

.col-1 {
  padding:0 2rem;
  width:16.6666666667%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-quarter {
  padding:0 2rem;
  width:25%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    padding:2rem 0;
  }
}

.col-2 {
  padding:0 2rem;
  width:33.3333333334%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:50%;
    padding:4rem 0;
  }

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    padding:4rem 0;
  }
}

.col-3 {
  padding:0 2rem;
  width:50%;
  float:left;
  position:relative;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-4 {
  padding:0 2rem;
  width:66.666666667%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-5 {
  padding:0 2rem;
  width:83.3333333334%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-6 {
  padding:0 2rem;
  width:100%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:4rem 0;
  }
}

.col-80 {
  padding:0 2rem;
  width:80%;
  float:left;

  @media (max-width: $breakpoint-small-desktop) {
    width:70%;
    padding:0rem 2rem;
  }

  @media (max-width: $breakpoint-tablet) {
    width:100%;
    padding:0rem 0;
  }
}

.col-20 {
  padding:0 2rem;
  width:20%;
  float:left;

  @media (max-width: $breakpoint-tablet) {
    width:30%;
    padding:4rem 0;
  }

  @media (max-width: $breakpoint-mobile) {
    width:100%;
    padding:4rem 0;
  }
}

/* special box classes */

.blue-bottom {
  padding:6rem 0 12rem 0;

  @media (max-width: $breakpoint-tablet) {
    padding:3rem 0 6rem 0;
  }
}

.gray-box {
  background-color:$background;
  border-radius:20px;
  padding:12rem;

  @media (max-width: $breakpoint-tablet) {
    padding:6rem !important;
  }
}

.blue-top {
  padding:12rem 0;

  @media (max-width: $breakpoint-tablet) {
    padding:6rem 0;
  }
}

/* padding */

.padded {
  padding:4rem 0;
  @media (max-width: $breakpoint-tablet) {
    padding:3rem 0;
  }

  &.padded-large {
    padding:6rem 0;
  }

  &.padded-huge {
    padding:12rem 0;
    @media (max-width: $breakpoint-tablet) {
      padding:6rem 0;
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    margin-left:-10%;
  }

  85% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    margin-left:0%;
  }
}

form {
  text-align: left;
  font-size: 1.8rem;

  .field {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
  }

  input:not([type=submit]),
  textarea {
    width: 100%;
    padding: 1rem;
    color: #04092E;
    border: 1px solid #04092E;
    outline: 0;
  }

  textarea {
    height: 12rem;
  }
}

footer {
  padding: 2rem;

  img {
    max-width: 10rem;
  }
}

section {

  &#partner-logos {
    text-align:center;
  }

  &#why-users {
    border-bottom:1px solid $lightgrey;

    h2 {
      text-align:center;
    }
  }

  &#why-devs {
    h2 {
      text-align:center;
    }
  }

  &.body {
    overflow:hidden;

    .row {
      margin:3rem auto 6rem;
      max-width:1080px;

      @media (max-width: $breakpoint-small-desktop) {
        max-width:920px;
        margin:0rem auto;
      }

      @media (max-width: $breakpoint-tablet) {
        max-width:90%;
      }

      p {
        color:$darkgrey;
        margin-bottom:3rem;
      }
    }

    padding:4rem 9rem;

    @media (max-width: $breakpoint-small-desktop) {
      padding:0 3rem;
    }

    @media (max-width: $breakpoint-tablet) {
      padding:0 1.5rem;
    }

    .secondary-buttons {
      padding:2em 0;
      overflow:auto;
      clear:both;
    }
  }

  &.dimmed {
    background-color:$white;
    border-top: 1px solid rgba(0,0,0,0.12);
    border-top: 1px solid rgba(0,0,0,0.12);
  }
}

.dimmed {
  opacity: 0.6;
  font-size:75%;
}

#get-started .col-3,
#get-started .col-6 {
  text-align:center;
}

#future_is_now {
  margin-top:6rem;
}

.code-block {
  &.no-bottom {
    border:0 !important;
    padding-bottom:0 !important;
    margin-bottom:0 !important;
  }
}

.api-links {
  .link {
    display:table;
  }
}

.package-name {
  padding:.4rem .8rem;
  background-color:$background;
  color:$blue;
  border-radius:2px;
}

.scrollme {
  text-align:center;
  margin:9rem 0;

  #wheel {
    background-color: white;
    animation: mousewheel 0.6s infinite;
  }
}

@keyframes mousewheel {
  0% {
    background-color: white;
  }

  50% {
    background-color: $blue;
  }
  100% {
    background-color: white;
  }
}
